---
layout: default
title:
---

{% for post in site.posts limit:5 %}
<article class="{{post.layout}}">

{% if post.link %}
<h1><a href="{{ post.link }}" rel="bookmark" title="Go to {{ post.link }}">{{ post.title }}</a> &rarr;</h1>
{% else %}
<h1><a href="http://log.adamwilcox.org{{ post.url }}" rel="bookmark" title="Permanent Link to {{ post.title }}">{{post.title}}</a></h1>
{% endif %}

{{ post.content }}

<footer><a href="http://log.adamwilcox.org{{ post.url }}" rel="bookmark" title="Permanent Link to {{ page.title }}"><time datetime="{{ page.date | date: "%Y-%m-%d" }}">{{ post.date | date_to_string }}</time></a></footer>

</article>
{% endfor %}

<article>
<a href="/archive">&larr; Browse older posts in the archive</a>
</article>