<div class="col-1-1">
<footer><p>Copyright &copy; 2009 - 2013 <a href="http://adamwilcox.org/" title="Adam Wilcox">Adam Wilcox</a></p></footer>
</div>	
	
</div>
<script>var _gauges=_gauges||[];(function(){var a=document.createElement("script");a.type="text/javascript";a.async=true;a.id="gauges-tracker";a.setAttribute("data-site-id","512b933cf5a1f52da800000f");a.src="//secure.gaug.es/track.js";var b=document.getElementsByTagName("script")[0];b.parentNode.insertBefore(a,b)})();</script>
</body>
</html>