<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<title>From The Pub &mdash; {{ page.title }}</title>
<meta name="Description" content="From The Pub a Podcast with Darren Scott and Adam Wilcox.">
<meta name="author" content="Adam Wilcox">
<link rel="shortcut icon" href="http://www.fromthepub.com/assets/shortcut_icon.png">
<link rel="apple-touch-icon" href="http://www.fromthepub.com/assets/apple_touch_icon.png">
<link rel="alternate" type="application/rss+xml" href="http://www.fromthepub.com/podcast.xml">
<!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
<link rel="stylesheet" href="http://www.fromthepub.com/assets/style.css">
<meta name="viewport" content="width=device-width">
</head>

<body>

<header>
<h1>From The Pub</h1>
<p>a podcast</p>
</header>

<nav>
<ul>
<li><a href="http://www.fromthepub.com">home</a></li>
<li><a href="http://www.fromthepub.com/archive">episodes</a></li>
<li><a href="https://itunes.apple.com/gb/podcast/from-the-pub-podcast/id336250525?mt=2">subscribe</a></li>
<li><a href="http://www.fromthepub.com/about/">about</a></li>
</ul>
</nav>
