/* Last Update: 2013-01-13 13:14*/

@font-face { font-family: leaguegothic; src: url('leaguegothic-regular-webfont.woff'); }

/* @group css reset v2.0 */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,details,embed,figure,figcaption,footer,header,hgroup,nav,output,section,summary,time,audio,video{border:0;font:inherit;font-size:100%;margin:0;padding:0;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}
/* @end */

/* fromthepub.com CSS */

body {max-width: 1200px;color: #333; -webkit-font-smoothing: antialiased;font: 16px/1.5 leaguegothic, "Helvetica Neue", Helvetica, Arial, sans-serif;margin: auto;padding: 0;}

a {text-decoration: none;color: #3a3c44;}
a:visited {text-decoration: none;}
a:hover {text-decoration: none;color: #949EA3;-webkit-transition: color .25s}

header {background: url(bg.jpg)50% no-repeat;margin: 40px auto;}

header h1 {
	color: #f69013;
	font-size: 100px;
	line-height: 0;
	text-shadow: 0 1px 2px black;
	padding: 100px 0 55px 30px;
}

header p {
	color: #f69013;
	font-size: 40px;
	line-height: 10px;
	text-shadow: 0 1px 2px black;
	padding: 0 0 100px 30px;
}

nav {
	border-style: solid;
	border-bottom-width: 1px;
	border-top-width: 1px;
	border-bottom-color: rgba(105, 105, 105, 0.41);
	border-top-color: rgba(105, 105, 105, 0.41);
	max-width: 900px;
	text-align: center;
	padding: 10px 0;
	margin: 0 auto 40px;
}

nav li {
	display: inline;
	font-size: 25px;
	line-height: 30px;
	padding: 0 10px;
}

nav a {color: rgba(105, 105, 105, 0.41);}
nav a:visited {color: rgba(105, 105, 105, 0.41);}
nav a:hover {color: rgb(105, 105, 105);}

aside {max-width: 350px;float: right;margin: -20px 0 30px;}

section.page {max-width: 900px;margin: 0 auto;padding: 0 10px;}
section.page h1 {font: 50px/50px leaguegothic, "Helvetica Neue", Helvetica, Arial, sans-serif;margin: 0 0 15px;}
section.page h2 {font: 30px/30px leaguegothic, "Helvetica Neue", Helvetica, Arial, sans-serif;margin: 40px 0 15px;}
section.page p {font: 15px/20px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;margin: 0 0 15px;}

section.page ul {margin: -10px 0 20px;font: 15px/25px "Helvetica Neue", Helvetica, Arial, sans-serif;}
section.page li {list-style: disc;margin: 0 0 0 30px;}
section.page a {text-decoration: none;color: #f69013;}
section.page a:visited {text-decoration: none;}
section.page a:hover {text-decoration: none;color: #f68512;-webkit-transition: color .25s}
section.page img {max-width: 100%;margin: 0 auto;padding: 0 10px;}

article.episode {font: 15px/20px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;margin: 30px 0 0;}
article.episode h1 {font: 40px leaguegothic, "Helvetica Neue", Helvetica, Arial, sans-serif;padding: 0;
margin: 0;}
article.episode a {text-decoration: none;color: #333;}
article.episode a:visited {text-decoration: none;}
article.episode a:hover {text-decoration: none;color: #f68512;-webkit-transition: color .25s}

footer {
	border-style: solid;
	border-bottom-width: 1px;
	border-top-width: 1px;
	border-bottom-color: rgba(105, 105, 105, 0.41);
	border-top-color: rgba(105, 105, 105, 0.41);
	max-width: 900px;
	text-align: center;
	padding: 10px 0;
	margin: 100px auto 40px;
}

footer p {
	display: inline;
	padding: 0 10px;
	font: 12px/30px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

/* 320-pixel layout for iPhone-sized screens */
@media (max-width: 320px) {article.episode {width: 320px;margin: 0 0 18px;clear: both;}header h1 {font-size: 60px;}aside {float: none;}}