{% include header.html %}

<div class="page">
<div class="col-7-12">
       <article>
       <h1>{{ page.title }}</h1>
       {{ content }}
       </article>
    </div>
    
    <div class="col-5-12">
       <h2>Download Episode</h2>
       <p><a href="{{ page.link }}" rel="bookmark" title="Download {{ page.title }}">Download</a></p>
       <p><a href="https://itunes.apple.com/gb/podcast/from-the-pub-podcast/id336250525?mt=2">Subscribe in iTunes</a></p>
    </div>
    
</div>

{% include footer.html %}